html, body {
	width:  99%;
	height: 99%;
	margin: 2px;
	font-family: optima;
	font-size: 87%;
}

canvas {
	margin-top: 4px;
	/*border: 1px solid #d3d3d3;*/
	display: block;
	position: flex;
	margin-left: auto;
    margin-right: auto;
}