html, body {
	width:  99%;
	height: 99%;
	margin: 2px;
	font-family: optima;
	font-size: 87%;
	background-color: #F0F0F0;
}

canvas {
	margin-top: 4px;
	/*border: 2px;*/
	display: block;
	position: flex;
	margin-left: auto;
    margin-right: auto;
}